
/* nav bar css */
.nav-style {
  font-size: 20px;
  text-decoration: none;
  
}



/* site-wide css */
#facolor{
  font-size: 24px;
  color: white;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

.align-center{
  text-align: center;
}

body{
background: #42275a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: 20px;
}


.header-color {
background: #42275a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: 20px;
}



/* landing page css */
.landing-grid {
background: #42275a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.avatar-img {
  border-radius: 10%;
  margin-top: 20px;
  border-radius: 20px;
  height: 250px;

}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  color: white;
};

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 1px solid white;
  padding-bottom: 5%;
  width: 75%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 16px;
}

.social-links {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 50%;
}

.social-links i {
  color: white;
  font-size: 36px;
  padding: 20px;
}

.projects-grid {
  display: flex;
}



/* contact page css */
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 50px;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Oswald', sans-serif;
}

.contact-grid p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 3px solid black;
  width: 60%;
  margin: auto;
}

.contact-list {
  margin-left: 100px;
}

.contact-list i {
  font-size: 30px;
  padding-right: 15px;
}



/* project page css */
.card-title h2 {
  font-family: oswald;
  font-size: 30px;
  color: white;
  text-align: center;
}


.tab-titles {
  font-size: 16px;
  color: white;
  font-family: 'Oswald';
  background-color: white;
}


/* aboutme page css */

.aboutme-grid {
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 750px;
  background: white;
  color: black;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif
}

.aboutme-grid p {
  font-family: 'Oswald', sans-serif;
  text-align: left;
  font-size: 20px
}